.manage-title, .manage-order{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.manage-title{
    background: #1c1c1E;
    color: #F7CAC9;
    margin-bottom: 10px;
    padding: 5px 0px;
    padding-left: 10px;
    border: 0;
    border-radius: 5px;
}
.manage-title h3{
    font-size: 20px;
    font-weight: bold;
}
.manage-order{
    background: #303032;
    color: #FFFFFF;
    margin-bottom: 10px;
    padding: 5px 0px;
    padding-left: 10px;
    border: 0;
    border-radius: 5px;
}
.manage-order .dltBtn{
    color: white;
    font-weight: bold;
    padding: 5px;
    background: rgb(224, 20, 20);
    border: 0;
    border-radius: 5px;
}
