.header-container{
    background-color: #1c1c1E
}
.navbar{
    display: flex;
    justify-content: space-between;
}
.nav-section a{
    color: white;
    text-decoration: none;
    margin-right:15px; 
    font-weight: 200;

}
.nav-section button{
    background-color: #5A5A5A;
    border:1px solid whitesmoke;
    border-radius: 5px;
    padding: 5px 20px;
}
