.header-container{
    background-color: #1c1c1E
}
.navbar{
    display: flex;
    justify-content: space-between;
}
.navbar .nav-logo{
    display: flex;
    align-items: center;
}
.nav-logo img{
    width: 50px;
    background-color: white;
    border: 0;
    border-radius: 10px;
}
.navbar .nav-logo p{
    color: #F7CAC9;
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 10px;
}
.nav-section a{
    color: white;
    text-decoration: none;
    margin-right:15px; 
    font-weight: 200;

}
.nav-section button{
    background-color: #5A5A5A;
    border:1px solid whitesmoke;
    border-radius: 5px;
    padding: 5px 20px;
}
